<% content_for :head do %>
     <link rel="stylesheet" href="/assets/show.css"> 
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<% end %>

<%= render 'layouts/navbar' %>

<div class="page-body">

<div>


<p>Created by Lubo as part of the <a href="https://www.theodinproject.com/lessons/ruby-on-rails-members-only">Odin Project curriculum</a>. View on <a href="https://github.com/1lubo/members-only">Github</a>.</p>

<p>For full functionality sign up or login with <em>odin@thunder.io</em> and <em>password</em>.</p>

</div>
<%= link_to 'Back', root_path %>
</div>